body {
    
    height: 120vh;
    border: 2px solid black;
    background: #A67DB8;
    margin-left: 20%;
    margin-right: 20%;
   

}
.corps {
    background-color: rgb(149, 111, 209);
    height: 120vh;
    display: flex;
    flex-direction:column;
    
    
}

.profil {
    text-align: center;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    padding: 20px;
}
a {
    color:currentColor;
    text-decoration: none;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    
}

.experience {
    text-align: center;
    

}
.formation {
    text-align: center;
    
}

table,
th,
td {
    border: 3px solid rgba(175, 137, 172, 0.993);
    border-collapse: collapse;
    background-color: #725a80;
    margin-left: auto;
    margin-right: auto;
    border-style:dashed;

}
td,
th {
    padding: 25px;
}
th {
    font-size: large;background-color: #9a48b388;

}
a.download {
    outline: none;
    text-decoration: none;
    text-align: center;
    color: rgb(105, 0, 44);
    padding: 80px;
    
}